In [12]:
# Required Imports for preprocessing
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

# Imports for ANN Implementation
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [4]:
# Reading the data
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave          619    France  Female   42       2       0.00              1          1               1        101348.88       1
1          2    15647311      Hill          608     Spain  Female   41       1   83807.86              1          0               1        112542.58       0
2          3    15619304      Onio          502    France  Female   42       8  159660.80              3          1               0        113931.57       1
3          4    15701354      Boni          699    France  Female   39       1       0.00              2          0               0         93826.63       0
4          5    15737888  Mitchell          850     Spain  Female   43       2  125510.82              1          1               1         79084.10       0

In [5]:
# Preprocess the data
# Drop Irrelevant columns
data = data.drop(['RowNumber','CustomerId', 'Surname'], axis=1)
data.head()

   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female   42       2       0.00              1          1               1        101348.88       1
1          608     Spain  Female   41       1   83807.86              1          0               1        112542.58       0
2          502    France  Female   42       8  159660.80              3          1               0        113931.57       1
3          699    France  Female   39       1       0.00              2          0               0         93826.63       0
4          850     Spain  Female   43       2  125510.82              1          1               1         79084.10       0

In [6]:
# Encode categorical variable
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          619    France       0   42       2       0.00              1          1               1        101348.88       1
1          608     Spain       0   41       1   83807.86              1          0               1        112542.58       0
2          502    France       0   42       8  159660.80              3          1               0        113931.57       1
3          699    France       0   39       1       0.00              2          0               0         93826.63       0
4          850     Spain       0   43       2  125510.82              1          1               1         79084.10       0

In [8]:
# Since there are more than 2 categories selecting One Hot Encoder to avoid conditions like Spain>Germany>France 
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [9]:
# Combine one hot encoded columns with the original data
data = pd.concat([data.drop(['Geography'], axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited  Geography_France  Geography_Germany  Geography_Spain
0          619       0   42       2       0.00              1          1               1        101348.88       1               1.0                0.0              0.0
1          608       0   41       1   83807.86              1          0               1        112542.58       0               0.0                0.0              1.0
2          502       0   42       8  159660.80              3          1               0        113931.57       1               1.0                0.0              0.0
3          699       0   39       1       0.00              2          0               0         93826.63       0               1.0                0.0              0.0
4          850       0   43       2  125510.82              1          1               1         79084.10       0               0.0                0.0              1.0

In [10]:
# Divide the dataset into independent and dependent features
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

# Splitting data into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
# Saving the encoders for future use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

# Saving the scaler for future use
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# ANN Regression Problem

In [14]:
# Building our ANN model
model = Sequential()
model.add(Input(shape=(X_train.shape[1],)))
model.add(Dense(64, activation='relu')), # HL1
model.add(Dense(32, activation='relu')), # HL2
model.add(Dense(1)) # Output layer # the default activation layer is linear (i.e. "linear" activation: `a(x) = x`)

In [15]:
#Checking number of paramers
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                      │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

In [21]:
# Set up the Tensorboard
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
# Set up EarlyStopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [23]:
# Train the model
history = model.fit(
    X_train, y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49727.4219 - mae: 49727.4219 - val_loss: 50297.5898 - val_mae: 50297.5898
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49112.3047 - mae: 49112.3047 - val_loss: 50296.8086 - val_mae: 50296.8086
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49405.0312 - mae: 49405.0312 - val_loss: 50295.3555 - val_mae: 50295.3555
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49616.3750 - mae: 49616.3750 - val_loss: 50304.7188 - val_mae: 50304.7188
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49360.1328 - mae: 49360.1328 - val_loss: 50302.3359 - val_mae: 50302.3359
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50167.8984 - mae: 50167.8984 - val_loss: 50299.6719 - val_mae: 50299.6719
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49220.2695 - mae: 49220.2695 - val_loss: 50284.7305 - val_mae: 50284.7305
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49675.3398 - mae: 49675.3398 - val_loss: 50295.8281 - val_mae: 50295.8281
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49516.5234 - mae: 49516.5234 - val_loss: 50294.7109 - val_mae: 50294.7109
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49730.6523 - mae: 49730.6523 - val_loss: 50314.0273 - val_mae: 50314.0273
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49686.9922 - mae: 49686.9922 - val_loss: 50308.6641 - val_mae: 50308.6641
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49785.1641 - mae: 49785.1641 - val_loss: 50299.8477 - val_mae: 50299.8477
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49638.2422 - mae: 49638.2422 - val_loss: 50296.9297 - val_mae: 50296.9297
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49122.6328 - mae: 49122.6328 - val_loss: 50305.2812 - val_mae: 50305.2812
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49514.1133 - mae: 49514.1133 - val_loss: 50310.4844 - val_mae: 50310.4844
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49310.9609 - mae: 49310.9609 - val_loss: 50304.6992 - val_mae: 50304.6992
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49279.9062 - mae: 49279.9062 - val_loss: 50307.1367 - val_mae: 50307.1367

In [24]:
# Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit

In [28]:
# Evaluate Model on Test Data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51148.2461 - mae: 51148.2461
Test MAE : 50284.73046875

In [29]:
# Saving the model
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.